<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="roe">
  <div class="col-sm-2">
    <input type="text" [(ngModel)]="id">

  </div>
  <div class="col-sm-2">
    <input type="text" [(ngModel)]="title">

  </div>
  <div class="col-sm-2">
    <input type="text" [(ngModel)]="userid">

  </div>
  <div class="col-sm-2">
    <input type="text" [(ngModel)]="completed">

  </div>

  <div class="col-sm-2">
    <button (click)="addTableData()">Add Row</button>
  </div>
</div>


<table>
    <thead>        
        <caption>NgFor Table Example</caption>
       <tr>
          <th>#</th>
          <th>ID</th>
          <th>TITLE</th>
          <th>USER ID</th>
          <th>DELETE</th>
          <th>UPDATE</th>
        </tr>
    </thead>
      <tbody>
            <tr *ngFor="let item of items; let i = index">
                <td>{{item.id}}</td> 
                <td>{{item.title}}</td>   
                <td>{{item.userId}}</td>   
                <td>{{item.completed}}</td>      
                <td> <button (click) = "deleteRow(i)"><i class="fa fa-trash"></i></button></td>
                <td> <button (click) = "updateRow(i, name)"><i class="fa fa-address-card"></i></button></td>                   
            </tr>
           
        </tbody>
      </table>
<pagination-controls (pageChange) = "listCount($event)" (pageChange)="p = $event"></pagination-controls>


  
 
